.mainContentContainer1
{
    display: flex;
    flex-direction: column;
}
.ingridientBox
{
    font-family: "Courier New", Courier, monospace;
    font-size: larger;
    font-weight: 999;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 4px;
}
.imeKorisnika
{
    font-family: "Courier New", Courier, monospace;
    font-size: larger;
    font-weight: 999;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 4px;
}
.sastojakNaslov
{
    background-color: lightgoldenrodyellow;
    margin-top: 10px;
    font-family: "Courier New", Courier, monospace;
    font-size: larger;
    font-weight: 999;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 4px;
    opacity: 50;
}
.recipeBox
{
    background-color: rgb(219, 219, 166);
    display: flex;
    flex-direction: row;
}
.recipeBoxPhase
{

    font-family: "Courier New", Courier, monospace;
    font-size: larger;
    font-weight: 999;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 4px;
}
.recipeBoxNavBar
{
    font-family: "Courier New", Courier, monospace;
    font-size: larger;
    font-weight: 999;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 4px;
}
.fazeNaslov
{
    background-color: rgb(178, 214, 184);
    font-family: "Courier New", Courier, monospace;
    font-size: larger;
    font-weight: 999;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
.recipeBoxPhaseButton
{
    background-color: rgb(119, 49, 49);
    border: none;
    color:white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
.fazeNaslov{
    background-color: rgb(178, 214, 184);
}
.nazadDugme
{
    background-color: rgb(178, 214, 184);
    border: none;
    color:black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

