
body
{
    height: 80%;
    width: 90;
    background-image: url(../resources/slikaPocetna.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: inherit;
    display: flex;
    flex-direction: column;
}
.body2
{
    background-image: url(../resources/slikaGlavaDrugiSlajd.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: inherit;
    display: flex;
    background-color:lightgray;

}
.mainContentContainer
{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: stretch;
}

.imageLogo
{
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    height: 150px;
    width: 250px;
}
.boxRegistration
{
    flex-shrink: 20;
    top: 50%;
    left: 200px;
}
.boxLogin{
    flex-shrink: 20;
}
.boxRegistrationLogin
{
    flex-shrink: 20;
    top: 35%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    left: 250px;
    position: absolute;
}
.buttonRegistration
{
    flex-basis: 0;
    background-color: darkseagreen;
    border: none;
    color:white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
.buttonLogin
{
    margin-top: 20px;
    flex-basis: 0;
    background-color: darkred;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
.buttonSlideDiv
{
    left: 40px;
    position: absolute;
    top: 50%;
    z-index: 2147483643;
    transform: translateY(-50%);
}
.boxText
{
    flex-shrink: 20;
    font-family: "Courier New", Courier, monospace;
    font-size: larger;
    font-weight: 999;
}
.buttonSlide{
    border-radius: 50%;
    box-shadow: inset 0 0 0 3px #fff;
    cursor: pointer;
    height: 16px;
    margin-bottom: 10px;
    opacity: .4;
    position: relative;
    width: 16px;
    box-sizing: border-box;
    background-color: black;
}
.contentContainer{
    height: 70%;
    width: 85%;
    display: flex;
    align-items: stretch;
}
.cardsBox
{
    margin: 10px 10px 10px 10px;
    padding: 5px 5px 5px 5px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
.card
{
    background-color: rgb(164, 221, 186);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 150px;
    border-radius: 5px;
    font-family: "Courier New", Courier, monospace;
    font-size: larger;
    font-weight: 999;
}
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.backButton
{
    background-color: rgb(119, 49, 49);
    border: none;
    color:white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
.cardBox{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cardBoxManual
{
   
    padding: 5px 5px 5px 5px;
    background-color: rgb(224, 187, 187);
    opacity: 20;
    font-family: "Courier New", Courier, monospace;
    font-size: larger;
    font-weight: 999;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
.cardBoxUput
{
    margin: 10px 10px 10px 10px;
    padding: 5px 5px 5px 5px;
    background-color: rgb(219, 203, 203);
    font-family: "Courier New", Courier, monospace;
    font-size: larger;
    font-weight: 999;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.cardOutput
{
    margin: 10px 10px 10px 10px;
    padding: 5px 5px 5px 5px;
    background-color: rgb(170, 226, 172);
    font-family: "Courier New", Courier, monospace;
    font-size: larger;
    font-weight: 999;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}